@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Administre seu négocio de maneira descomplicada!</h1>
    <p>A EmpEASY está aqui para ajudar prestadores de serviços a organizar seu fluxo de trabalho e ganhar tempo de qualidade. Através da nossa plataforma, 
    você pode consultar contratos, montar sua cartela de clientes, enviar propostas de orçamentos, entre diversas outras funcionalidades.</p>
</div>
